{% extends "AppBlog/base.html" %}

{% block main %}

<div class="container text-center mt-5">
    <h1>Quiénes somos</h1>
    <p class="lead">
        BairesHard es una página de componentes electronicos, donde cada persona puede publicar, actualizar y borrar sus productos o ver otros. 
        Si ya sos cliente, ¡gracias por confiar en nosotros! y sino te invitamos a conocernos. En BairesHard podés comprar con tranquilidad y confianza, tenemos un gran equipo de vendedores y atención post-venta. 
    </p>
</div>
{% endblock %}